In [5]:
import numpy as np
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
# use 'plotly' to get graphs

In [8]:
datafile = 'final_data.csv'
df = pd.read_csv(datafile)
df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True) 
df = df[np.isfinite(df['Pct_change'])] #drop the data where pct_change is nan 
df.head()

,Date,Anticipation,Disgust,Fear,Joy,Negative,Pct_change,Positive,Sadness,Surprise,Trust,follower_count
1,2016-06-15,0.001800,0.001800,0.000900,0.000000,0.009001,0.007692,0.004500,0.000000,0.001800,0.002700,212332.0
2,2016-06-14,0.007916,0.000609,0.001827,0.005074,0.008930,-0.000699,0.010757,0.002030,0.005277,0.009539,4413122.0
3,2016-06-13,0.012598,0.000900,0.005399,0.005174,0.006974,-0.008329,0.026772,0.002475,0.004274,0.016423,2652364.0
6,2016-06-10,0.010336,0.001723,0.003302,0.003445,0.006029,-0.001520,0.008613,0.003302,0.003302,0.005024,6054195.0
7,2016-06-07,0.003610,0.000000,0.000903,0.002708,0.005415,-0.007082,0.006318,0.000000,0.000000,0.007220,305868.0

In [10]:
#Since the data contains apple and google's data for the same period, we split them into 2 parts 
len(df.Date.unique())

53

In [15]:
df['Date'][0:48] # so 0-48 is the apple's da

1     2016-06-15
2     2016-06-14
3     2016-06-13
6     2016-06-10
7     2016-06-07
8     2016-06-06
11    2016-06-03
12    2016-06-02
13    2016-06-01
14    2016-05-31
18    2016-05-27
19    2016-05-26
20    2016-05-25
21    2016-05-24
22    2016-05-23
25    2016-05-20
26    2016-05-19
27    2016-05-18
28    2016-05-17
29    2016-05-16
32    2016-05-13
33    2016-05-12
34    2016-05-11
35    2016-05-10
36    2016-05-09
39    2016-05-06
40    2016-05-05
41    2016-05-04
42    2016-05-03
43    2016-05-02
46    2016-04-29
47    2016-04-28
48    2016-04-27
49    2016-04-26
50    2016-04-25
53    2016-04-22
54    2016-04-21
55    2016-04-20
56    2016-04-19
57    2016-04-18
60    2016-04-15
61    2016-04-14
62    2016-04-13
63    2016-04-12
64    2016-04-11
67    2016-04-08
68    2016-04-07
69    2016-04-06
Name: Date, dtype: object