In [12]:
import csv
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv('final_data.csv')

In [3]:
df=df.dropna()
df=df.set_index(['Unnamed: 0'])

In [4]:
df['follower_count']=df['follower_count']/1000000

In [5]:
df['Positive']=df['Positive']*1000
df['Negative']=df['Negative']*1000
df['Anticipation']=df['Anticipation']*1000
df['Disgust']=df['Disgust']*1000
df['Fear']=df['Fear']*1000
df['Joy']=df['Joy']*1000
df['Sadness']=df['Sadness']*1000
df['Surprise']=df['Surprise']*1000
df['Trust']=df['Trust']*1000

In [8]:
pd.options.display.max_columns=11
df.describe()

,Anticipation,Disgust,Fear,Joy,Negative,Pct_change,Positive,Sadness,Surprise,Trust,follower_count
count,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,11.092693,1.626746,5.021357,4.674050,9.486453,-0.000498,13.987239,3.734643,3.912664,10.688954,5.416724
std,3.694312,1.201556,2.567673,2.373391,3.705279,0.012345,5.575934,2.049963,1.724799,4.621385,4.830810
min,1.800180,0.000000,0.900090,0.000000,4.004577,-0.042969,4.500450,0.000000,0.000000,2.700270,0.212332
25%,9.148591,0.782932,3.301751,2.969709,6.731340,-0.007082,10.757053,2.240607,2.642881,8.185539,2.335363
50%,11.035119,1.417686,4.827701,4.673417,9.000900,-0.000382,13.558569,3.477589,3.761631,10.436572,4.961737
75%,12.684989,2.104458,6.064281,5.789474,10.904917,0.007692,16.500849,4.560137,4.766899,12.533875,6.117055
max,22.809998,5.452320,14.874915,10.998945,20.607858,0.021046,36.200405,10.229800,10.546934,33.593976,22.504935

In [9]:
#here is a brief description of the dataset after scaling and adjusting for the parameters

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 2016-06-15 to 2016-03-30
Data columns (total 11 columns):
Anticipation      53 non-null float64
Disgust           53 non-null float64
Fear              53 non-null float64
Joy               53 non-null float64
Negative          53 non-null float64
Pct_change        53 non-null float64
Positive          53 non-null float64
Sadness           53 non-null float64
Surprise          53 non-null float64
Trust             53 non-null float64
follower_count    53 non-null float64
dtypes: float64(11)
memory usage: 5.0+ KB

In [11]:
df['tagged']=np.where(df['Pct_change']<0,0,1)
len(df)

53